html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

main > section, main > article {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
  }
}

* + section {
  margin: 1rem;
}

main {
  margin-top: 1em;

  aside {
    max-width: 192px;
  }
}

h1, h2, h3 {
  text-align: center;
}

.main-item:not(:last-child) {
  border-bottom: 1px solid black;
}

span + span::before {
  content: '| ';
}

span a:not(:last-child)::after {
  content: ', ';
}