/* Navbar container */
.navbar { overflow: hidden; background-color: #333; font-family: Arial; }

/* Links inside the navbar */
.navbar a { float: left; font-size: 16px; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }
.navbar a.current { color: green; }

/* The dropdown container */
.dropdown { float: left; overflow: hidden; }

/* Dropdown button */
.dropdown .dropbtn { font-size: 16px; border: none; outline: none; color: white; padding: 14px 16px; background-color: inherit; font-family: inherit; /* Important for vertical align on mobile phones */ margin: 0; /* Important for vertical align on mobile phones */ }
.dropdown .dropbtn.current { color: green; }

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn { background-color: red; }

/* Dropdown content (hidden by default) */
.dropdown-content { display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a { float: none; color: black; padding: 12px 16px; text-decoration: none; display: block; text-align: left; }

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover { background-color: #ddd; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content { display: block; }

.post { color: blue; }

.post-navigation { font-size: 14px; display: block; width: auto; overflow: hidden; }

.post-navigation a { display: block; width: 50%; float: left; margin: 1em 0; }

.post-navigation .next { text-align: right; }

.post-navigation .previous { text-align: left; }

.avatar { position: relative; overflow: hidden; background: #f2f2f0; margin: 0; }
.avatar:before, .avatar:after { content: ''; position: absolute; z-index: 1; width: 50%; height: 50%; bottom: 35%; left: 25%; border-radius: 100%; background: #e5e4e1; }
.avatar:after { width: 100%; bottom: -25%; left: 0; }
.avatar img { position: relative; z-index: 2; display: block; width: 100%; height: auto; }

.page-content { padding: 2em; display: flex; flex-direction: column; align-items: center; max-width: 32em; margin: 0 auto; }

.page-content > * { min-width: 100%; max-width: 100%; box-sizing: border-box; }
.page-content > *:last-child { margin-bottom: 0; }
.page-content > *:first-child { margin-top: 0; }

.page-content a { border-bottom: 1px solid #f26a3d; }

.page-contents a:hover, .page-content a:focus { color: #f26a3d; }

.author { position: relative; margin: 2em 0 0; padding: 2em 0; z-index: 10; border-top: 1px solid #e5e4e1; border-bottom: 1px solid #e5e4e1; clear: both; font-family: 'Fira Sans', sans-serif; }

.author-avatar { position: relative; float: left; width: 5em; height: 5em; margin: -0.5em 0 0 1.5em; overflow: hidden; border-radius: 10em; box-sizing: border-box; }
.author-avatar img { width: 100%; margin: auto; border-radius: 10em; box-sizing: border-box; }
@media only screen and (max-width: 480px) { .author-avatar { width: 4em; height: 4em; margin: 0 1em 1em 0; } }

.author-bio { padding-left: 10em; font-size: 0.75em; line-height: 1.334em; }
.author-bio span { position: relative; font-size: 0.8em; display: inline-block; margin-top: 1.25em; margin-right: 1.25em; font-weight: 400; opacity: 0.75; }
.author-bio i { color: inherit; }
.author-bio a { color: inherit; text-decoration: none; font-weight: inherit; border-bottom: 1px solid transparent; }
.author-bio a:hover, .author-bio a:focus { text-decoration: underline; }
@media only screen and (max-width: 480px) { .author-bio { padding-left: 0; } }

.author-name { margin: 0; padding: 0; font-size: 1.334em; line-height: 1em; text-indent: inherit; }

.author-about { margin: 0.667em 0 0.334em; }
