---
layout: default
---

<div class="author">
    {% assign elements = page.elements %}
    {% assign system = page.system %}

    <p>Name: {{ elements.name }}<p>
    {{ elements.biography }}
    Posts
    {% for post in site.posts %}
        {% assign authors = post.elements.authors | map: 'system' | map: 'codename' %}
        {% if authors contains system.codename %}
            <a href="{{ post | get_post_link | relative_url }}">{{ post.elements.title }}</a>
        {% endif %}
    {% endfor %}
</div>
