---
layout: default
---

<div class="category">
    {% assign elements = page.elements %}
    {% assign system = page.system %}

    <p>Name: {{ elements.name }}<p>
    {{ elements.description }}
    Posts
    {% for post in site.data.posts %}
        {% assign categories = post.elements.categories | map: 'codename' %}
        {% if categories contains system.codename %}
            <a href="{{ post | get_post_link | relative_url }}">{{ post.elements.title }}</a>
        {% endif %}
    {% endfor %}
</div>
