---
layout: default
---
{% assign post = page.item %}
{% assign elements = post.elements %}
{% assign language = post.system.language %}

{% assign published_date = elements.published.value | stringify_date: "%A, %B %d, '%y" %}

<main class="post">
    <aside>
        <section>
            <label for="publised_date">Published:</label>
            <span id="publised_date">{{ published_date }}</span>
        </section>

        <section>
            <label for="categories">Categories:</label>

            <span id="categories">
            {% for category in elements.post_categories.value %}
                {% assign category_url = language | append: '/posts/categories/' | append: category.codename %}
                <a href="{{ category_url | relative_url }}">{{ category.name }}</a>
            {% endfor %}
            </span>
        </section>

        <section>
            <label for="tags">Tags:</label>

            <span id="tags">
            {% for tag in elements.post_tags.value %}
                {% assign tag_url = language | append: '/posts/tags/' | append: tag.codename %}
                <a href="{{ tag_url | relative_url }}">{{ tag.name }}</a>
            {% endfor %}
            </span>
        </section>
    </aside>

    <div class="post-navigation">
        {% if page.previous.url %}
        Previous post: <a class="prev" href="{{ page.previous.url | relative_url }}">&laquo; {{ page.previous.title }}</a>
        {% endif %}
        {% if page.next.url %}
        <div>Next post: <a class="next" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &raquo;</a></div>
        {% endif %}
    </div>

    <article>
        {{ elements.content.value }}
    </article>
</main>
